
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SahilKent Admin Girişi</title>
</head>
<body>
    <form method="post">
        <div class="col-md-12">
            @Html.Label("Email")
            @Html.TextBox("Email")
            <br />
            @Html.Label("Şifre")
            @Html.Password("Password")
            <br />
            <button type="submit">Giriş Yap</button>
        </div>
    </form>
</body>
</html>
